.s-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.s-head {
  margin-bottom: 2 rem;
}

.under {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: orange;
  text-underline-offset: 7px;
}

.s-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in-out;
}

.s-card > img {
  width: 100%;
  max-width: 15rem;
  border-radius: 10px;
}

.s-card > :nth-child(2) {
  font-size: 1.2rem;
}

.s-card > :nth-child(3) {
  font-size: 0.7rem;
  width: 15rem;
}

.s-card:hover {
  transform: scale(1.025);
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.s-buttons {
  display: none;
}

.s-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.s-buttons > :nth-child(1) {
  background-color: #eeeeff;
}

.s-buttons > :nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 640px) {
  .orange-underline {
    width: 160px;
    height: 5px;
    background-color: orange;
    margin-top: -4px;
  }

  .s-head {
    align-items: center;
  }

  .s-buttons {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .s-container {
    align-items: center;
  }
}
