.subsidiary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--lightBlue);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 2rem;
  }
  