.about-us-container {
  /* background-color: #f0f8ff; */
  padding: 2rem;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin: 2rem auto;
}

.about-us-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-us-text {
  flex: 1;
  text-align: left;
}

.about-us-text h2 {
  color: #0073e6;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us-text p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-us-image {
  flex: 1;
}

.about-us-image img {
  width: 100%;
  /* border-radius: 10%; */
}

.learn-more-button {
  background-color: #0073e6;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
  }

  .about-us-text {
    text-align: center;
  }

  .about-us-text h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .about-us-text p {
    color: #333;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  .about-us-image img {
    width: 67%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
  }
}
