/* .App {
  position: relative;
  overflow-x: hidden;
  background-color: #fefefe;
}

.App > :nth-child(1) {
  background: var(--black);
  position: relative;
} */

/* .white-gradient-left {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background: rgba(31, 129, 209, 0.522);
  filter: blur(100px);
  border-radius: 100px;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
} */

/* .white-gradient-right {
  position: absolute;
  width: 40rem;
  height: 30rem;
  background: rgba(33, 144, 235, 0.522);
  filter: blur(100px);
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
}
 */
