.w-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  background-color: #fefefe;
}

.w-head {
  margin-bottom: 2rem;
}

.w-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  flex-basis: 1 1 1;
  height: auto;
  /*   margin: auto;
 */
  transition: all 300ms ease-in-out;
  justify-content: space-center;
  align-items: start;
}

.w-card > img {
  width: 100%;

  border-radius: 5px;
}

.w-card > :nth-child(2) {
  font-size: 1.2rem;
}

.w-card > :nth-child(3) {
  font-size: 0.7rem;
  /*   width: 15rem;
 */
}

.w-card:hover {
  transform: scale(1.025);
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(0, 119, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(17, 54, 202, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.w-buttons {
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}

.w-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.-buttons > :nth-child(1) {
  background-color: #eeeeff;
}

.s-buttons > :nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 640px) {
  .orange-underline {
    width: 160px;
    height: 5px;
    background-color: orange;
    margin-top: -4px;
  }

  .w-head {
    align-items: center;
  }

  .w-buttons {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .w-container {
    align-items: center;
  }
}


.e-card:hover {
  /* transform: scale(1.025); */
  border-radius: 0 0 8px 8px;

  background: linear-gradient(
    180deg,
    rgba(0, 119, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  /* box-shadow: 0px 72px 49px -51px rgba(17, 54, 202, 0.21); */
}
